@import "./variables.scss";

html {
  font-size: 12px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Monsterrat_arm";
  font-weight: 500;
  color: $white;
  line-height: 1.5rem;
}
img,
svg,
video,
textarea {
  vertical-align: middle;
}
textarea {
  resize: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: $white;
}
input,
select,
button {
  outline: none;
  border: none;
  background-color: transparent;
}
h2 {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 500;
}

.wrapper {
  position: relative;
}
.container {
  width: 83%;
  margin: auto;
}
