@import "./variables.scss";

.menu-page {
  border: none;
  outline: none;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: translate3d(100%, 0, 0);
  height: var(--viewHeight);
  width: 100%;
  transition: transform 0.4s ease-in;
}

.menu-page__wrapper {
  border: none;
  outline: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.opening-parts {
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 568px;
  width: 100%;
}
.menu-page__part-top,
.menu-page__part-bottom {
  border: none;
  outline: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  transition: transform 0.6s ease-in;
  display: flex;
}

.menu-page__part-top {
  border: none;
  outline: none;
  justify-content: center;
  align-items: flex-end;
  height: 45%;
  top: 0;
  left: 0;
  & > div {
    margin-bottom: 12px;
  }
}
.menu-page__part-bottom {
  border: none;
  outline: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  top: 45%;
  height: 55%;
  left: 0;
  & > div {
    margin-top: 12px;
  }
}
.menu-page__part-top--open {
  transform: translate3d(0, -45%, 0);
}
.menu-page__part-top--open {
  transform: translate3d(0, 55%, 0);
}

.menu-page__social-contacts {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.menu-page__social-contacts > a {
  margin: 10px;
}

.menu-page__ordinary-contacts {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 2.1rem;
  font-weight: 600;
  margin-bottom: 60px;
}
.menu-page--active {
  transform: translate3d(0, 0, 0);
}
.menu-page__part-top--active {
  transform: translate3d(0, -100%, 0);
}
.menu-page__part-bottom--active {
  transform: translate3d(0, 100%, 0);
}

.menu-page--apple {
  & .menu-page__part-top,
  & .menu-page__part-bottom {
    background-color: $blurry-apple;
  }
}
.menu-page--appleCitrus {
  & .menu-page__part-top,
  & .menu-page__part-bottom {
    background-color: $blurry-appleCitrus;
  }
}

.menu-page--tomato {
  & .menu-page__part-top,
  & .menu-page__part-bottom {
    background-color: $blurry-tomato;
  }
}
.menu-page--multiMix {
  & .menu-page__part-top,
  & .menu-page__part-bottom {
    background-color: $blurry-multiMix;
  }
}
