.return-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transform: skewX(0deg) scale(0.5);
  background-image: linear-gradient(135deg, #ffffffba 10%, transparent 50%);
  cursor: pointer;
  display: block;
  z-index: 100;
  top: -50px;
  right: 3%;
  text-align: center;
  transition: all 0.5s ease-in;

  &--active {
    transform: skewX(5deg) scale(1);
    top: calc(100vh - 50px);
  }

  &--apple {
    background-color: #3faa3f69;
  }
  &--appleCitrus {
    background-color: #fa7d3c9c;
  }
  &--tomato {
    background-color: #e7524c8c;
  }
  &--multiMix {
    background-color: #feca57a1;
  }
}
