@import "./fonts";
@import "./_normalize.scss";
@import "./variables.scss";
@import "./_global.scss";
@import "./_swiper";
@import "./_header.scss";
@import "./_inner-slider.scss";
@import "./_menu-page.scss";
@import "./_about-us.scss";
@import "./_home-page.scss";
@import "./_content.scss";
@import "./_feedback.scss";
@import "./_form.scss";
@import "./_return-btn.scss";

.damper {
  flex: 5%;
}
.prevent-scrolling {
  overflow: hidden;
}

.test {
  position: fixed;
  z-index: 444444;
  top: 0;
  left: 0;
  width: 200px;
  height: var(--innerHeight);
  background-color: violet;
}
