$apple: #8bd2b8;
$tomato: #e7524c;
$appleCitrus: #fa7d3c;
$multiMix: #feca57;
$white: #fff;

$blurry-apple: #56bb7f;
$blurry-tomato: #f39070;
$blurry-appleCitrus: #f29768;
$blurry-multiMix: #f1bb23;

$dark-apple: #469f6a;
$dark-tomato: #e6775f;
$dark-appleCitrus: #f2a781;
$dark-multiMix: #eaa623;
